<!DOCTYPE HTML>
<html>

<head>
    <title>Empresa Libre</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/air.css" type="text/css">
    <link rel="stylesheet" href="/static/css/sidebar_air.css" type="text/css">
    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
    <script src="/static/js/webix.js" type="text/javascript" ></script>
    <script src="/static/js/es-MX.js" type="text/javascript" ></script>
    <script src="/static/js/lokijs.min.js" type="text/javascript" ></script>
    <script src="/static/js/controller/util.js" type="text/javascript" ></script>

    <%block name="media"/>

</head>

<body>

<script type="text/javascript" charset="utf-8">
webix.debug = false;
webix.i18n.setLocale("es-MX");
</script>

<%block name="content"/>

</body>

</html>
